* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .greyContent {
    background-color: #313332;
    padding: 10px;
    color: white;
  }
  
  .whiteContent {
      background-color: rgb(255, 255, 255);
      padding: 10px;
  }
  
  .main {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }

  
  .leftTable {
    width: 62.5%;
    float: left;
    height: 500px;
  }
  
  .rightTable {
    margin-left: 37.5%;
    height: 500px;
  }

  .leftTable2 {
    width: 40%;
    float: left;
    height: 500px;
  }
  
  .rightTable2 {
    margin-left: 50%;
    height: 500px;
  }
  
